/*
# Aaron Toth - May 24/2018
*/

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.cssbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

input.cssbutton {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */ 

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input.cssbutton:hover{
    background-color: #4CAF50; /* Green */
    color: white;
}

